@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Righteous&display=swap');

/* font-family: 'Lobster', cursive;
font-family: 'Righteous', cursive */


.header{
    min-height: 300px ;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    padding: 10px;
    margin-top: 25px;
}

.header h3{
    color: rgb(32, 85, 182);
    font-family: 'Righteous', cursive;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid red;
    padding: 0px 35px 10px 35px;
}